h1{
    color:#386641;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color:#a7c957;
    padding: 50px;
    border: 4px dashed #386641;
}

#spanId{
    font-size: 25px;
    margin: 50px;
}